
<style>

  img{
width: 100%;
height: 80px;
}

p {
margin: 0;
text-align: center;
font-weight: bold;
}

table {
width: 100%;
border-collapse: collapse;
}

th, {
color: #a9a;
font-size: 9pt;
font-weight: bold;
padding-bottom: .25cm;
text-transform: uppercase;
}

td {
padding: 0px;
padding-left: 2px;
}
header {
  position: fixed;
  top: 0;
  height: 24%;
  width: 100%;
}
</style>

<header>

  <img
    src="logo.jpg"
    alt="Python and PDF"
  />
  <p style="text-align: center;"> 2025 MAY/JUNE Ceritificate II Examinations</p>
  <p style="font-weight: 400;">{{center}}</p>
  <p style="font-weight: bold; text-align: center; margin-top: 10px;">MASTER PLAN FOR DISTRIBUTION OF QUESTIONS</p>
  <p style="font-weight: bold; text-align: center; margin-top: 8px;">{{subject}}</p>


</header>
