
<style>

    img{
  width: 50%;
  height: 80px;
}

p {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th {
  color: #a9a;
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: .25cm;
  text-transform: uppercase;
}

td {
  padding: 0px;
  padding-left: 2px;
  font-size: 8pt;
  font-weight: medium;
}
header {
    position: fixed;
    top: 0;
    height: 24%;
    width: 100%;
}
</style>

<header>

    <img
      src="logo.jpg"
      alt="Python and PDF"
    />
    <p style="text-align: left;"> 2025 NOV/DEC Ceritificate II Examinations</p>

    <table style="margin-top: 2px;" id="header-table">
      <tbody>
        <tr>
          <td>CENTRE:</td>
          <td>{{center}}</td>
        </tr>
        <tr>
          <td>SUBJECT:</td>
          <td>{{subject}}</td>
        </tr>
        <tr>
          <td>PAPER:</td>
          <td>{{paper}}</td>
        </tr>
        <tr>
          <td>SERIES:</td>
          <td>{{series}}</td>
        </tr>
      </tbody>
    </table>


</header>
