services:
  fastapi-app:
    build:
      context: backend
    container_name: fastapi-app
    ports:
      - "8000:80"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - ./backend/.venv/
            - .venv
        - action: rebuild
          path: ./backend/pyproject.toml
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      prestart:
        condition: service_completed_successfully

  prestart:
    build:
      context: backend
    env_file:
      - .env
    command: bash app/scripts/prestart.sh
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - ./frontend/.next/
            - ./frontend/node_modules/
        - action: rebuild
          path: ./frontend/package.json
    depends_on:
      - fastapi-app
    restart: always
  postgres:
    image: postgres:18
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - icm_db_data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    ports:
      - "5432:5432"

volumes:
  icm_db_data:
