@font-face {
  font-family: Pacifico;
  src: url(pacifico.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  src: url(sourcesanspro-regular.otf);
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 700;
  src: url(sourcesanspro-bold.otf);
}



html {
  color: #14213d;
  font-family: Source Sans Pro;
  font-size: 10pt;
  line-height: 1.6;
}
body {
  margin: 0;
}
img{
  width: 100%;
  height: 100px;
}

p {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
  text-align: left;
}
/* th {
  color: #a9a;
  font-size: 10pt;
  font-weight: 400;
  padding-bottom: .25cm;
  text-transform: uppercase;
} */

td {
  padding: 0px;
  padding-left: 2px;
}

#header-table {
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  margin: 0;
}
#header-table th,
#header-table td {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
}
#header-table tr {
  margin: 0;
  padding: 0;
}

#header-table td:first-child {
  padding-right: 10px;
  width: 1%;
  white-space: nowrap;
}
#header-table td:last-child {
  margin-left: 10px;
  padding-left: 0;
}

/* Score sheet: OCR-friendly score/verify cells (main template uses .main-table .cell-score/verify) */
.cell-score,
.cell-verify {
  min-height: 1.15em;
  padding: 4px 6px;
}
